<footer class="footer">
    <div class="footer-content">
        <div class="footer-brand-col">
            <h2 class="footer-tagline">ARTE DESDE OTRO<br>ÁNGULO</h2>
            <div class="footer-logo">
                <i class="fa-solid fa-building-columns"></i>
                <span>VERTICE</span>
            </div>
        </div>

        <div class="footer-links-col">
            <h4>EXPLORA</h4>
            <ul>
                <li><a href="#">Artistas destacados</a></li>
                <li><a href="#">Obras</a></li>
                <li><a href="#">Trending</a></li>
            </ul>
        </div>

        <div class="footer-links-col">
            <h4>SOBRE NOSOTROS</h4>
            <ul>
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Manifiesto</a></li>
            </ul>
        </div>

        <div class="footer-links-col">
            <h4>COMUNIDAD</h4>
            <ul>
                <li><a href="#">Drops</a></li>
                <li><a href="#">Noticias</a></li>
            </ul>
        </div>

        <div class="footer-links-col">
            <h4>CONTACTO</h4>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Soporte</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="legal-links">
            <a href="#">Términos de uso</a>
            <a href="#">Política de privacidad</a>
            <a href="#">Política de cookies</a>
        </div>
        <div class="social-links">
            <a href="#"><i class="fa-solid fa-x"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</footer>