<header class="navbar navbar-light">
    <nav class="nav-left">
        <a href="../../pages/catalogo/artistas.html" class="nav-link">Artistas</a>
        <a href="../../pages/catalogo/obras.html" class="nav-link">Obras</a>
        <a href="../../pages/catalogo/categorias.html" class="nav-link">Categorías</a>
    </nav>

    <div class="nav-brand">
        <a href="index.html" class="brand-link">
            <img src="../../assets/icons/logo_letras.svg" alt="VÉRTICE" class="brand-logo-img">
        </a>
    </div>

    <div class="nav-right nav-auth">
        <a href="../../pages/auth/login.html" class="auth-link">Iniciar sesión</a>
        <span class="auth-separator"></span> <a href="../../pages/auth/register.html" class="auth-link">Registrarte</a>
    </div>
</header>