<header class="navbar">
    
    <nav class="nav-left">
        <a href="pages/catalogo/obras.html" class="nav-link">Obras</a>
        <span class="auth-separator"></span>
        <a href="pages/user/mis-colecciones.html" class="nav-link">Mis Colecciones</a>
    </nav>

    <div class="nav-brand">
        <a href="index.html" class="brand-link">
            <img src="assets/icons/logo_letras.svg" alt="VÉRTICE" class="brand-logo-img" id="dynamic-logo">
        </a>
    </div>

    <div class="nav-right">
        <div class="nav-auth">
            
            <a href="pages/user/perfil.html" class="nav-link" style="gap: 8px;">
                <i class="fa-regular fa-user"></i> 
                <span>MI PERFIL</span>
            </a>

            <span class="auth-separator"></span>

            <a href="#" class="nav-link" id="logoutBtn">SALIR</a>
            
        </div>
    </div>

</header>