<header class="navbar navbar-light">
    <nav class="nav-left">
        <a href="#" class="nav-link">Mis Obras</a>
        <a href="#" class="nav-link">Subastas</a>
    </nav>

    <div class="nav-brand">
        <a href="index.html" class="brand-link">
            <img src="assets/icons/logo_letras.svg" alt="VÉRTICE" class="brand-logo-img" id="dynamic-logo">
        </a>
    </div>

    <div class="nav-right">
        <div class="user-menu">
            <span class="user-greeting">Hola, Juan</span>
            <a href="perfil.html" class="user-avatar-circle">
                JM
            </a>
        </div>
    </div>
</header>